VITE_SUPABASE_URL=https://emhqfhruvjslwcgnmmmk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtaHFmaHJ1dmpzbHdjZ25tbW1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2MzkzMjIsImV4cCI6MjA5MzIxNTMyMn0.gN7mfxuIciyfhxOwL9EXavPUzbWxftw1Fzrrw6_Kl2g